@import './_variables';
@import './_mixins';
@import './_grid';

@-webkit-keyframes flash {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

@keyframes flash {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

.sprite {
	background-image: url(../im/sprite.png);
}

.animate {
	.transition( all, 0.3s );
}

.lnk {
	&:extend( .animate );
}

blockquote {
	font-family: @font-serif;
}

body {
	&:extend(.grids);
	color: @white;
	// background: url(../im/text-16-24.png);
	background: @grey url(../im/bg.texture.png);
}

.page {
	position: relative;

	&-header {
		position: absolute;
		right: 0;
		top: 0;
		padding: @base-margin;
		.col(3.5);

		&-ttl {
			.font-size( @base-type-h3, 2 );
			margin-bottom: 0;
			text-transform: capitalize;

			&-lnk {
				color: @grey;
			}
		}

		&-desc {
			color: @blue;
			margin: 0;
		}

		&-aside {
			&-copy {
				margin-bottom: 0; 
			}
			&-poweredby {
				.font-size( @base-type-sm, 0.5 );
			}
		}
	}

	&-nav {
		&-l1 {
			&-lst {
				padding-left: 0;
			}

			&-hdr {
				cursor: pointer;
				&:hover {
					opacity: 0.8;
				}
			}
		}
		&-l2 {
			&-lst {
				&:extend( .animate );
				margin: 0;
				padding-left: @base-margin-half;
				height: 0;
				overflow: hidden;
				opacity: 0;

				&-active {
					opacity: 1;
					height: auto;
					margin: @base-margin-half 0
				}
			}
		}
	}

	// &-logo {
	// 	top: 0;
	// 	position: absolute;
	// 	background-position: 0 -20px;
	// 	background-size: 281px;
	// 	width: 50px;
	// 	height: 50px;
	// 	left: 0;
	// 	top: -15px;
	// 	font-size: 0;
	// 	&:extend( .sprite );
	// }

	&-content {
		width: 100%;
		padding: 0 @base-margin-half @base-margin;
		.suffix(4);
	}
}

.author {
	border-bottom: 1px dashed @white;
	border-top: 1px dashed fade( @grey, 10% );
	margin-bottom: 1em;

	&-photo {
		display: inline-block;
		position: relative;
		border-radius: 50%;
		border: 8px solid @white-off;
		top: 1em;
		box-shadow: 1px 1px 1px fade(@white, 25% ), -1px -1px 1px @grey-dark;
		.col(4);
	}

	&-network {
		display: inline-block;
		margin-left: @base-margin;
		.col(7);

		&-antisocial {
			&-lst {
				border-bottom: none;
				&:extend( .navlist );
			}

			&-itm {
				// .icon( "app", @link );
				&:after {
					opacity: 0
				}

				&:hover {
					&:after {
						opacity: 1
					}
				}
			}
		}

		&-social {
			&-lst {
				border: none;
				padding: 0;
				margin-top: 0;
			}

			&-itm {
				display: inline-block;
				vertical-align: top;
				width: 32px;
				height: 32px;
				font-size: 0;
				line-height: 1;
				border-radius: 32px;
				margin-left: 1%;
				box-shadow: 1px 1px 0 fade( @white, 25% ), 1px 1px 0 @grey-dark inset;
				.transition( box-shadow, .3s );
				&:extend( .sprite );

				&-flickr 		{ background-position: 0 0 }
				&-twitter 		{ background-position: -40px 0 }
				&-last-fm 		{ background-position: -80px 0 }
				&-soundcloud 	{ background-position: -160px 0 }
				&-society6 		{ background-position: -240px 0 }

				&:hover {
					box-shadow: 1px 1px 0 @grey-dark, 1px 1px 0 fade( @white, 35% ) inset;
				}
			}
		}
	}
}

.navlist {
	margin: auto;
	padding: @base-margin 0;
	text-transform: uppercase;
}

.btn {
	color: @blue;
	text-shadow: -1px -1px 0 @black, 1px 1px 0 @grey-dark;
	padding: @base-margin @base-margin-half;
	.gradient( 0deg, @black, 0%, @grey-dark, 100% );
	&:extend( .animate );
}

.post {
	color: @white;
	text-shadow: 1px 1px 0 @grey-dark;

	&-hdr {
		position: relative;

		&-ttl {
			font-weight: 300;

			&-lnk {
				.push(1);
			}
		}

		&-meta {
			font-weight: 800;
			display: inline-block;
			position: absolute;

			&-track {
				top: unit( @base-line-multiplier, px );
				color: @blue;
				text-align: center;
				.col(1);	
			}

			&-release {
				top: unit( @base-type-size, px );
				color: @grey;
				.rotate( 90deg, 0 50px 0 );
				.font-size( @base-type-sm, 0.5 );
			}
		}
	}

	&-main {
		.prefix(1);
	}
}

.archive {
	&-lst {
		&-level1 {
			vertical-align: top;
		}
	}

	&-itm {
		&-level1 {
			width: calc(~"100% / 3");
			display: inline-block;
			vertical-align: top;
		}
	}
}

@import './media';