@import './_variables';
@import './_mixins';
@import './_utilities';
@import './_grid';
@import './lesshat';

/////////////////////////// Global style scaffolding
@font-face {
	.font-face(socicon, '/font/socicon-webfont');
}

@font-face {
	.font-face(typicons, '/font/typicons');
}

// .sprite {
// 	background-image: url(../img/sprite.png);
// }

.animate {
	.transition( all, 0.35s );
}

.lnk {
	&:extend( .animate );
	cursor: pointer;
}

#navicon {
	@item-width: 35px;

	.closed {
		font-size: 0;
		cursor: pointer;
		background: linear-gradient(
			to bottom, 
			@tan, @tan 20%, 
			transparent 20%, transparent 40%, 
			@tan 40%, @tan 60%, 
			transparent 60%, transparent 80%, 
			@tan 80%, @tan 100%
		);
		&:extend(.animate);
		.size(@item-width);
	}
	.open {
		// .size( @item-width, @item-width / 2 );
		background: linear-gradient(
			to bottom, 
			transparent, transparent 40%, 
			@tan 40%, @tan 60%, 
			transparent 60%, transparent 100%, 
		);
	}
}

blockquote {
	font-style: italic;
}

body {
	text-shadow: -1px -1px 0 fadeout(@grey-dark, 50%);
	color: @base-type-color;
	background: url(../img/bg.texture.png) repeat 0 0 fixed, 
							url(../img/rando_texture.png) no-repeat top center @grey-med;
	background-size: 500px, 100% 750px;
}

/////////////////////////// Page layout
.page {
	position: relative;

	&-header {
		color: @grey;
		position: relative;
		z-index: 10;

		&-ttl {
			margin-bottom: 0;
			text-transform: capitalize;

			&-lnk {
				color: @rust;
			}
		}

		&-desc { 
			margin: 0; 
			.uppercase;
		}
	}


	&-nav {
		text-align: right;

		&:before {
			position: relative;
			z-index: 90;
			._inject;
			&:extend(.animate);
			&:extend(#navicon .closed);
		}

		&.active,
		&:hover {
			&:before {
				&:extend(#navicon .open);
			}
			.page-nav-lst {
				top: -@base-margin;
			}
		}

		&-lst {
			position: absolute;
			text-align: left;
			z-index: 40;
			top: -@base-margin * 75;
			width: 100%;
			padding-top: @base-margin * 3;
			background-color: fadeout(@black, 35%);
			&:extend(.animate);
		}

		&-hdr {
			&:extend(.lnk);
		}

		&-l1 {
			&-itm {
				width: calc(~"100% / 3");
				.inline-def;
			}

			&-lst {
				margin-bottom: 0;
				padding-left: @base-margin;
			}
		}

		&-l2 {
			&-itm {}
			&-lst {
				padding-left: 0;
			}
		}
	}

	&-content {
		.bb(1px, dashed, @grey);
	}

	&-footer {
		.bt(1px, dashed, @grey);

		&-info {
			color: @grey;
			.font-size(@base-type-sm);
			// .make-row;
			margin: @base-margin-half @base-margin;

			&-copy,
			&-poweredby {
				.column(6);
			}

			&-poweredby {
				text-align: right;
			}
		}
	}
}

.author {
	color: @grey-lighter;
	font-size: 0;

	&-photo {
		box-shadow: 1px 1px 1px fade(@white, 25% ), -1px -1px 1px @grey-dark;
		border-radius: 100%;
		.border( 8px, solid, @white-off );
		.size( 22.9167 * 10px - 20);
		.sepia(50%);
	}

	&-network {
		&:extend(.inline-def);
		
		&-antisocial {
			&-lst {
				.font-size(@base-type-size);
				&:extend( .navlist );
			}

			&-itm {
				.icon( "app", @bookmark );

				&:hover {
					&:after {
						opacity: 1
					}
				}
			}
		}

		&-social {
			&-lst {
				border: none;
				padding: 0;
				margin-top: 0;
			}

			&-itm {
				display: inline-block;
				text-align: center;
				box-shadow: 1px 1px 0 fade( @white, 25% ), 
										1px 1px 0 @grey-dark inset;
				overflow: hidden;
				margin-right: 5px;
				font-size: 0;
				opacity: @base-opacity;
				border-radius: @border-radius;
				&:extend(.animate);
				.size(32px);

				&:hover {
					box-shadow: 1px 1px 0 @grey-dark, 
											1px 1px 0 fade( @white, 35% ) inset;
					opacity: 1;
				}

				&:before {
					cursor: pointer;
					color: @white;
					padding: @base-margin 0;
					font-family: socicon;
					&:extend( .ico_base );
					.font-size( 22, 1.15 );
				}

				&-flickr {
					background-color: rgb(255, 0, 132);
					&:before {
						._inject('v');
					}
				}
				
				&-twitter {
					background-color: rgb(85, 172, 238);
					&:before {
						._inject('a');
					}
				}
				
				&-last-fm {
					background-color: rgb(208, 33, 39);
					&:before {
						._inject('q');
					}
				}
				
				&-soundcloud {
					background-color: rgb(255, 80, 0);
					&:before {
						._inject('n');
					}
				}
				
				&-society6 { 
					background-color: @black;
					&:before{
						._inject('s');
					}
				}

				// &-github:before {
				// 	background-color: @black;
				// 	._inject('Q');
				// }
			}
		}
	}
}

.nav {
	&-list {
		padding: @base-margin-half;
		background-color: fade(@black, 65%);
	}	
}

.navlist {
	margin: auto;
	text-transform: uppercase;
}

.btn {
	color: @btn-secondary;
	padding: @base-margin-quarter @base-margin-eighth;
	&:extend( .animate );

	&-prev {
		.icon('pre', @chevron-right );
	}
	&-back {
		.icon( "pre", @chevron-left );
	}
}

.post-index {
	&-ttl {
		.column(12);
	
		&-lnk {
			.push(1);
		}
	}

	&-img img {
		display: block;
		// width: 100%;
		// height: auto;
	}

	&-lst {
		&-level2,
		&-level1 {
			padding-left: 0;
			// vertical-align: top;
		}

		&-level1 {
			font-size: 0;
			.make-row;
		}

		&-level2 {
			.font-size(@base-type-size);
		}	
	}

	&-itm {
		&-level1 {
			&:extend(.animate);
		}
	}
}

.post {
	color: @tan;

	&-header {
		position: relative;

		&-meta {
			&-track {
				color: @blue;
			}

			&-release {
				color: @grey;
			}
		}
	}

	&-meta {
		.font-size( @base-type-h6 );
		font-weight: 700;
	}	
}

@import './media';