@import './lesshat';
@import './_variables';
@import './_mixins';
@import './_utilities';
@import './_grid';
@import './_sprite';

/////////////////////////// Global style scaffolding
@font-face {
	.font-face(typicons, '/font/typicons');
}

.opacity-transition {
	.transition(opacity, .35s);
}

.animate {
	.transition( all, 0.5s );
}

.lnk {
	&:extend( .animate );
	cursor: pointer;
}

#navicon {
	@item-width: 30px;

	.closed {
		font-size: 0;
		cursor: pointer;
		background: linear-gradient(
			to bottom,
			@tan, @tan 20%,
			transparent 20%, transparent 40%,
			@tan 40%, @tan 60%,
			transparent 60%, transparent 80%,
			@tan 80%, @tan 100%
		);
		.size(@item-width);
	}

	.open {
		// .size( @item-width, @item-width / 2 );
		background: linear-gradient(
			to bottom,
			transparent, transparent 40%,
			@tan 40%, @tan 60%,
			transparent 60%, transparent 100%,
		);
	}
}

.col-2 {
	width: calc( ~"100% / 2" );
	display: inline-block;
	vertical-align: top;
}

blockquote {
	font-style: italic;
}

body {
	text-shadow: -1px -1px 0 fadeout(@grey-dark, 50%);
	color: @base-type-color;
	background: url(../img/bg.texture.png) repeat 0 0 fixed @grey-med;
}


/////////////////////////// Page layout
.page {
	&-header {
		color: @grey;
		position: relative;
		background: url('/img/logo_flat_2016.svg') 8px 40% no-repeat;
		z-index: 210;
		&:extend(.interior_row all);
		.mq(@screen-xxs, {
			background-size: 15%;
		});

		.mq(@screen-xs, {
			background-size: 10%;
		});

		.mq(@screen-s, {
			background-size: 7%;
		});

		.mq(@screen-l, {
			background-size: 17%;
		});

		.mq(@screen-xl, {
			background-size: 6%;
		});

		&-ttl {
			margin-bottom: 0;
			text-transform: capitalize;
			padding-left: 1.85em;
			position: relative;
			z-index: 240;
			.mq(@screen-xxs, {
				display: inline-block;
				width: 80%;
				.font-size(@base-type-h4, 1);
			});

			.mq(@screen-m, {
				.font-size(@base-type-h3, 1.25);
				// padding-left: @base-margin;
			});

			.mq(@screen-l, {
				.font-size(@base-type-h2, 2);
			});

			&-lnk {
				color: @rust;
			}
		}

		&-desc {
			.mq(@screen-xxs, {
				padding-left: @base-margin * 2;
			});

			.mq(@screen-m, {
				padding-left: 3.75em;
			});

			.mq(@screen-l, {
				padding-left: 5em;
				
			});
			display: inline-block;
			position: relative;
			z-index: 250;
			margin: 0;
		}
	}

	&-nav {
		top: -3em;
		position: absolute;
		left: -1.5%;
		width: 100%;
		z-index: 200;

		&-button {
			text-transform: uppercase;
			color: @tan;
			cursor: pointer;
			display: block;
			position: absolute;
			z-index: 300;

			.mq(@screen-xxs, {
				top: 3.75em;
				right: 0%;
				width: 52px;	
				&-nfo {
					font-size: 0;
				}
			});
			width: 115px;

			&:after {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				margin-left: 1rem;
				._inject;
				&:extend(.animate);
				&:extend(#navicon .closed);
			}

			&.active {
				&:after {
					&:extend(#navicon .open);
				}
			}
		}

		&-wrap {
			position: absolute;
			z-index: 220;
			top: -@base-margin * 75;
			background-color: fadeout(@black, 35%);
			text-align: center;
			padding-top: @base-margin * 5;
			width: 100%;
			opacity: 0;
			&:extend(.animate);

			&.active {
				opacity: 1;
				top: 0;
			}
		}

		&-lst {
			text-align: left;
		}

		&-hdr {
			&:extend(.lnk);
		}

		&-l1 {
			&-itm {
				width: calc(~"100% / 3 - 1.5em");
				.inline-def;
			}

			&-lst {
				margin-bottom: 0;
				padding-left: @base-margin;
				&:extend( .interior_row all );
			}
		}

		&-l2 {
			&-itm {}
			&-lst {
				padding-left: 0;
			}
		}
	}

	&-content {
		&:extend(.interior_row all);
		.bb(1px, dashed, @grey);
	}

	&-footer {
		.bt(1px, dashed, @grey);
		&:extend(.interior_row all);

		&-info {
			color: @grey;
			.font-size(@base-type-sm);
			margin-top: @base-margin-half;

			&-copy,
			&-poweredby {
				.column(6);
			}

			&-poweredby {
				text-align: right;
			}
		}
	}
}

.author {
	&:extend(.interior_row all);
	color: @grey-lighter;
	font-size: 0;
	.clearfix;

	.mq(@screen-xs, {
		padding: @base-margin 0;	
	});

	&-photo {
		text-align: center;

		&-img {
			border-radius: 100%;
			.border( 6px, solid, fadeout( darken( @border-color, 20%), 50%) );
			.sepia(50%);
			min-width: 200px;
		}

		.mq(@screen-xxs, {
			margin: unit(@base-margin * 3, %) auto;

			&-img {
				.size( 200 );
				display: inline-block;
			}
		});

		.mq(@screen-xs, {
			display: inline-block;
			margin: 4% 0 0;
		});

		.mq(@screen-s, {
			margin: 4% 2% 0 2%;
		});


		.mq(@screen-m, {
			.column(4, 12, 3%);
			&-img {
				width: 90%;
			}
		});

		.mq(@screen-l, {
			.column(3, 12, 3%);
		});
	}

	&-bio {
		text-align: left;
		.mq(@screen-xxs, {
			padding: 0 @base-margin @base-margin;
		});

		.mq(@screen-s, {
			.column(8, 12, -10%);
			float: right;
			padding: 0 0 @base-margin 0;
			margin-bottom: 0;
		});

		.mq(@screen-m, {
			.column(8, 12, -15%);
		});

		.mq(@screen-l, {
			.column(6, 12, 2.5%);
			float: none;
			margin-right: 0;
		});
	}

	&-network {
		&:extend(.inline-def);
		overflow: hidden;

		.mq(@screen-xxs, {
			width: 100%;
			text-align: center;
		});

		.mq(@screen-xs, {
			.column( 6, 12, 5% );
			margin-left: 5%;
			text-align: left;
		});

		.mq(@screen-s, {
			.column( 7.9, 12, 2.5% );
		});

		.mq(@screen-m, {
			margin-right: 0;
		});

		.mq(@screen-l, {
			.column(3);
		});

		&-antisocial {
			&-lst {
				&:extend( .navlist all );
				.font-size(@base-type-size);

				.mq(@screen-xxs, {
					margin: 0;
					&-itm {
						&:first-child {
							padding-right: 1em;
						}
						display: inline-block;
					}
				});

				.mq(@screen-xs, {
					display: block;
				});

				.mq(@screen-s, {
					&-itm {
						display: block;
					}
				});

				.mq(@screen-m, {
					margin-top: 0;
				});

				&-itm {
					.icon( "app", @bookmark );

					&:hover {
						&:after {
							opacity: 1
						}
					}
				}
			}
		}

		&-social {
			&-lst {
				border: none;
				&:extend( .navlist all );

				.mq(@screen-xxs, {
					margin-bottom: 3%;
				});
				
				&-itm {
					font-size: 0;
					border-radius: 100%;
					border: 4px solid darken( @border-color, 20%);
					margin: 0 1.5% 3% 0;
					opacity: 0.5;
					background-size: 310%;
					background-color: @white-off;
					.size(42px);
					&:extend( .sprite, .opacity-transition, .inline-def );

					&-bandcamp {
						.svg-sprite-position( @ico-bandcamp );
					}

					&-flickr {
						.svg-sprite-position( @ico-flickr );
					}

					&-last-fm {
						.svg-sprite-position( @ico-lastfm-fill );
					}

					&-society6 {
						.svg-sprite-position( @ico-society6 );
					}

					&-splice {
						.svg-sprite-position( @ico-splice );
					}

					&-soundcloud 	{
						.svg-sprite-position( @ico-soundcloud-fill );
					}

					&-spotify {
						.svg-sprite-position( @ico-spotify-fill );
					}

					&-twitter {
						.svg-sprite-position( @ico-twitter-fill );
					}

					&:hover {
						opacity: 1;
					}
				}
			}

			&-lnk {
				display: block;
				.size(48px);
			}
		}
	}
}

.nav {
	&-list {
		padding: @base-margin-half;
		background-color: fade(@black, 65%);
	}
}

.navlist {
	text-transform: uppercase;
	.mq(@screen-xxs, {
		padding: 0 0 @base-margin-half;
	});

	.mq(@screen-xs, {
		padding: @base-margin 0 @base-margin-half;
	});
}

.btn {
	color: @btn-secondary;
	padding: @base-margin-quarter @base-margin-eighth;
	&:extend( .animate );

	&-prev {
		.icon('pre', @chevron-right );
	}
	&-back {
		.icon( "pre", @chevron-left );
	}
}

.post-index {
	&-ttl {
		&-lnk {
			.push(1);
		}
	}

	&-img img {
		display: block;
		.border( 4px, solid, fadeout( darken( @border-color, 20%), 50%) );
	}

	&-lst {
		&-level2,
		&-level1 {
			padding-left: 0;
		}

		&-level1 {
			font-size: 0;
			.make-row;
		}

		&-level2 {
			.font-size(@base-type-size);
			// margin-bottom: unit( @base-margin * 3, % );
			margin-bottom: @base-margin * 2;
		}
	}

	&-itm {
		&-level1 {
			&:extend(.animate);
			.mq(@screen-xs, {
				.column(6);
			});
			.mq(@screen-s, {
				.column(4);
			});
			.mq(@screen-l, {
				.column(3);
			} )
		}
		&-level2 {
		}
	}
}

.post {
	color: @tan;
	&-ttl {
		.mq(@screen-xxs, {
			.font-size( @base-type-h3 );
			margin-bottom: @base-margin;
		});
	}

	&-header {
		position: relative;
		&-title {
			.mq(@screen-xxs, {
				.font-size( @base-type-h2, 2 );
				margin-bottom: @base-margin-quarter;
			});
			// .mq(@screen-m, {
			// 	.font-size( @base-type-h2, 2 );
			// });
			.mq(@screen-l, {
				.font-size(@base-type-h1, 1);
			});
		}

		&-meta {
			&-track {
				color: @blue;
				.mq(@screen-xxs, {
					padding-right: @base-margin-eighth;
				});
				.mq(@screen-l, {
					top: @base-margin * 1.5;
				});
			}

			&-release {
				color: @grey;
				.mq(@screen-l, {
					.rotates( 90deg, 12px 12px 0 );
					top: @base-margin * 3.2;
				});
			}
		}
	}

	&-meta {
		.font-size( @base-type-h6 );
		font-weight: 700;
		.mq(@screen-l, {
			position: absolute;
			.pull(@base-margin-half);
		});
	}
}

.interior_row {
	position: relative;
	.mq(@screen-xxs, {
		.row( 12 );
		padding: @base-margin-half 1em;
	});

	.mq(@screen-xs, {
		.row( 12 );
	});

	.mq(@screen-m, {
		padding: @base-margin-half;
		.row(12, 95%);
	});

	.mq(@screen-xl, {
		padding: @base-margin-half;
		.row(12, 1024px);
	});	
}
