// 320px
@media only screen and ( min-width: 320px ) {
	.interior_row {
		padding: @base-margin-half @base-margin;
	}

	.page {
		&-header {
			&:extend(.interior_row);

			&-ttl {
				font-size: unit(@base-type-h3, px);
				line-height: 1
			}
		}

		&-nav {
			z-index: 100;
			position: absolute;
			top: 0;
			right: 0;
			width: 95%;
			&:before {
				margin: 20px;
			}
		}

		&-aside {
			&:extend(.interior_row);
		}

		&-content {
			&:extend(.interior_row);
		}	
	}	

	.author {
		&:extend(.interior_row);

		&-network {
			.column(6);
		}

		&-bio {
			&:extend(.interior_row);
		}
	}

	.post {
		&-header {
			&-meta {
				&-track {
					padding-right: @base-margin-eigth;
				}
			}
		}
	}
}

// 480px
@media only screen and ( min-width: 480px ) {
	.page {
		&-header {}
		&-nav {}
		&-content {}	
		&-aside {}
	}

	.post-index {
		&-itm {
			&-level1 {
				.column(6);
			}
		}
	}
}

// 640px
@media only screen and ( min-width: 640px ) {
	.page {
		&-header {}
		&-nav {}
		&-content {}	
		&-aside {}
	}

	.post-index {
		&-itm {
			&-level1 {
				.column(4);
			}
		}
	}
}

// 768px
@media only screen and ( min-width: 768px ) {
	.page {
		&-header {
			&:extend(.interior_row);
		}

		&-nav {}

		&-content {
			&:extend(.interior_row);
		}	

		&-aside {
			&:extend(.interior_row);
		}
	}

	.post {
		&-header {
			position: relative;			
			&-title {
				&-link {
				}
			}

			&-meta {
				&-track {
					top: @base-margin * 1.5;
				}

				&-release {
					.rotates( 90deg, 12px 12px 0 );
					top: @base-margin * 3.2;

				}
			}
		}

		&-meta {
			position: absolute;
			.pull(@base-margin-half);
		}

		// &-main {
		// 	.column-count(2);
		// 	.column-gap(@base-margin);
		// }
	}
}


// 980px
@media only screen and ( min-width: 992px ) {
	.interior_row {
		width: 992px;
		// .col(9);
		margin: 0 auto;
		padding: @base-margin-half 0;
	}

	.page {
		&-header {
			&:extend(.interior_row);
		}

		&-nav {
			&:extend(.interior_row);
			position: relative;
			margin-top: -5em;
		}

		&-content {
			&:extend(.interior_row);
		}	

		&-aside {
			&:extend(.interior_row);
		}
	}
	
	.author {
		&-network {
			.column(3);
		}

		&-bio {
			.col(6);
			display: inline-block;
			padding: 0;
			margin: unit(@base-margin, %) 0 unit(@base-margin, %);
		}
	}
}

// 1024px
@media only screen and ( min-width: 1024px ) {
	.page {
		&-header {}
		&-nav {}
		&-content {}	
		&-aside {}
	}
}

// 1280px
@media only screen and ( min-width: 1280px ) {

	.page {
		&-header {}
		&-nav {}
		&-aside {
		}
	}
}