// 320px
@media only screen and ( min-width: 320px ) {
	.interior_row {
		.row();
		padding: @base-margin-half @base-margin;
	}

	.page {
		&-header {
			&:extend(.interior_row);

			&-ttl {
				font-size: unit(@base-type-h3, px);
				line-height: 1
			}
		}

		&-nav {
			z-index: 100;
			position: absolute;
			top: 0;
			right: 0;
			width: 95%;
			&:before {
				margin: 20px;
			}
		}

		&-author {
			&:extend(.interior_row);
		}

		&-content {
			&:extend(.interior_row);
		}	
	}	

	.navlist {
		padding: 0 0 @base-margin-half;
	}

	.author {
		&:extend(.interior_row);
		&-photo {
			display: block;
			margin: unit(@base-margin * 3, %) auto;
		}

		&-network {
			margin: 0 auto;
			display: block;
			.col(10);

			&-antisocial-lst {
				padding-top: 0;
			}
		}

		&-bio {
			&:extend(.interior_row);
		}
	}

	.post {
		&-header {
			&-meta {
				&-track {
					padding-right: @base-margin-eighth;
				}
			}
		}
	}
}

// 480px
@media only screen and ( min-width: 480px ) {
	.post-index {
		&-itm {
			&-level1 {
				.column(6);
			}
		}
	}

	.navlist {
		padding: @base-margin 0 @base-margin-half;
	}

	.author {
		&-network {
			.column(6);
		}

		&-photo {
			.inline-def;
			margin: unit(@base-margin * 3, %) unit(@base-margin * 3, %);
		}
	}
}

// 640px
@media only screen and ( min-width: 640px ) {
	.post-index {
		&-itm {
			&-level1 {
				.column(4);
			}
		}
	}
}

// 768px
@media only screen and ( min-width: 768px ) {
	.page {
		&-header {
			&:extend(.interior_row);
		}

		&-nav {}

		&-content {
			&:extend(.interior_row);
		}	

		&-aside {
			&:extend(.interior_row);
		}
	}

	.author {
		&-photo {
			margin: unit(@base-margin * 2, %) unit(@base-margin * 2, %);
		}
	}
}


// 980px
@media only screen and ( min-width: 992px ) {
	.interior_row {
		padding: @base-margin-half;
		.row(12, 984px);
	}

	.page {
		&-header {
			&:extend(.interior_row);
		}

		&-nav {
			&:extend(.interior_row);
			position: relative;
			margin-top: -5em;
		}

		&-content {
			&:extend(.interior_row);
		}	

		&-author {
			&:extend(.interior_row);
		}

		&-footer {
			&:extend(.interior_row);
		}		
	}

	.post {
		&-header {
			position: relative;			
			&-title {
				&-link {
				}
			}

			&-meta {
				&-track {
					top: @base-margin * 1.5;
				}

				&-release {
					.rotates( 90deg, 12px 12px 0 );
					top: @base-margin * 3.2;
				}
			}
		}

		&-meta {
			position: absolute;
			.pull(@base-margin-half);
		}

		// &-main {
		// 	.column-count(2);
		// 	.column-gap(@base-margin);
		// }
	}	

	.author {
		&-network {
			.column(3);
		}

		&-photo {
			.grid-margin( 12, unit(@base-margin * 2, %) );
				// margin: unit(@base-margin * 2, %) unit(@base-margin, %) 0 unit(@base-margin * 2, %);
		}

		&-bio {
			.column(6);
			// display: inline-block;
			padding: 0;
			margin-top: @base-margin;
			margin-bottom: @base-margin;
		}
	}
}

// 1024px
@media only screen and ( min-width: 1024px ) {
	.post-index {
		&-itm {
			&-level1 {
				.column(3);
			}
		}
	}	
}


// 1280px
@media only screen and ( min-width: 1280px ) {
}