.ico_base,
.ico,
.author-network-antisocial-itm:after,
.btn-prev:before,
.btn-back:before {
  color: #9b6020;
  position: relative;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1;
}
.inline-def,
.author-network {
  display: inline-block;
  vertical-align: top;
}
.lnk,
.page-nav-hdr {
  text-decoration: none;
  color: #e78820;
}
.lnk:hover {
  color: #efad65;
}
.lnk:focus {
  outline: none;
}
.ttl {
  font-family: 'Raleway', sans-serif;
  color: #7fd3ed;
}
.sprite,
.author-network-social-itm {
  background: url("../img/icons.sprite-2f23885e.svg") no-repeat;
}
@font-face {
  font-family: "typicons";
  src: url("/font/typicons.eot");
  src: url("/font/typicons.eot?#iefix") format("embedded-opentype"), url("/font/typicons.woff") format("woff"), url("/font/typicons.ttf") format("truetype"), url("/font/typicons.svg#typicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.opacity-transition,
.author-network-social-itm {
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.animate,
.lnk,
#navicon .closed,
.page-nav-button:after,
.page-nav-wrap,
.btn,
.post-index-itm-level1,
.page-nav-button:after,
.page-nav-hdr {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.lnk,
.page-nav-hdr {
  cursor: pointer;
}
#navicon .closed,
.page-nav-button:after {
  font-size: 0;
  cursor: pointer;
  background: linear-gradient(to bottom, #c1b48e, #c1b48e 20%, transparent 20%, transparent 40%, #c1b48e 40%, #c1b48e 60%, transparent 60%, transparent 80%, #c1b48e 80%, #c1b48e 100%);
  width: 35px;
  height: 35px;
}
#navicon .open,
.page-nav-button.active:after {
  background: linear-gradient(to bottom, transparent, transparent 40%, #c1b48e 40%, #c1b48e 60%, transparent 60%, transparent 100%);
}
blockquote {
  font-style: italic;
}
body {
  text-shadow: -1px -1px 0 rgba(39, 38, 32, 0.5);
  color: #272620;
  background: url(../img/bg.texture.png) repeat 0 0 fixed #524e42;
}
.page-nav {
  position: fixed;
  top: -3em;
  width: 100%;
  z-index: 200;
}
.page-nav-button {
  text-transform: uppercase;
  color: #c1b48e;
  cursor: pointer;
  display: block;
  position: relative;
  top: 4.5em;
  width: 115px;
  right: -73%;
  z-index: 230;
}
.page-nav-button:after {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 1rem;
  content: "";
}
.page-nav-wrap {
  position: absolute;
  z-index: 220;
  top: -112.5em;
  background-color: rgba(0, 0, 0, 0.65);
  text-align: center;
  padding-top: 7.5em;
  width: 100%;
  opacity: 0;
}
.page-nav-wrap.active {
  opacity: 1;
  top: 0;
}
.page-nav-lst {
  text-align: left;
}
.page-nav-l1-itm {
  width: calc(100% / 3 - 1.5em);
  display: inline-block;
  vertical-align: top;
}
.page-nav-l1-lst {
  margin-bottom: 0;
  padding-left: 1.5em;
}
.page-nav-l2-lst {
  padding-left: 0;
}
.page-content {
  border-bottom: 1px dashed #7c7764;
}
.page-footer {
  border-top: 1px dashed #7c7764;
}
.page-footer-info {
  color: #7c7764;
  font-size: 1.2rem;
  font-size: 12px;
  line-height: 2;
  margin-top: 0.75em;
}
.page-footer-info-copy,
.page-footer-info-poweredby {
  display: inline-block;
  vertical-align: top;
  width: 47.91666667%;
  margin: auto 1.04166667% auto;
}
.page-footer-info-poweredby {
  text-align: right;
}
.author {
  color: #c4c1b5;
  font-size: 0;
}
.author-photo {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25), -1px -1px 1px #272620;
  border-radius: 100%;
  border: 8px solid #f0f3f3;
  width: 209.167px;
  height: 209.167px;
  -webkit-filter: sepia(50%);
  -moz-filter: sepia(50%);
  -ms-filter: sepia(50%);
  filter: sepia(50%);
}
.author-network-antisocial-lst {
  font-size: 1.6rem;
  font-size: 16px;
  line-height: 1.5;
}
.author-network-antisocial-itm:after {
  margin-left: 0.1875em;
  font-family: 'typicons';
  content: '\e033';
}
.author-network-antisocial-itm:hover:after {
  opacity: 1;
}
.author-network-social-lst {
  border: none;
  padding-top: 0;
}
.author-network-social-itm {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  border-radius: 100%;
  border: 5px solid #444136;
  margin: 8px 8px 8px 0;
  opacity: 0.5;
  background-size: 302%;
  background-color: #f0f3f3;
  width: 48px;
  height: 48px;
}
.author-network-social-itm-bandcamp {
  background-position: 0 0;
}
.author-network-social-itm-flickr {
  background-position: 50% 0;
}
.author-network-social-itm-last-fm {
  background-position: 0 50%;
}
.author-network-social-itm-society6 {
  background-position: 50% 50%;
}
.author-network-social-itm-splice {
  background-position: 100% 50%;
}
.author-network-social-itm-soundcloud {
  background-position: 100% 0;
}
.author-network-social-itm-spotify {
  background-position: 0 100%;
}
.author-network-social-itm-twitter {
  background-position: 50% 100%;
}
.author-network-social-itm:hover {
  opacity: 1;
}
.author-network-social-lnk {
  display: block;
  width: 40px;
  height: 40px;
}
.nav-list {
  padding: 0.75em;
  background-color: rgba(0, 0, 0, 0.65);
}
.navlist,
.author-network-antisocial-lst,
.author-network-social-lst {
  margin: auto;
  text-transform: uppercase;
}
.btn {
  color: #9b6020;
  padding: 0.375em 0.1875em;
}
.btn-prev:before {
  margin-right: 0.1875em;
  font-family: 'typicons';
  content: '\e049';
}
.btn-back:before {
  margin-right: 0.1875em;
  font-family: 'typicons';
  content: '\e047';
}
.post-index-ttl-lnk {
  left: 9.375%;
}
.post-index-img img {
  display: block;
}
.post-index-lst-level2,
.post-index-lst-level1 {
  padding-left: 0;
}
.post-index-lst-level1 {
  font-size: 0;
  margin-left: -1%;
  margin-right: -1%;
}
.post-index-lst-level2 {
  font-size: 1.6rem;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 3em;
}
.post {
  color: #c1b48e;
}
.post-header {
  position: relative;
}
.post-header-meta-track {
  color: #7fd3ed;
}
.post-header-meta-release {
  color: #7c7764;
}
.post-meta {
  font-size: 1.6rem;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}
@media only screen and (min-width: 320px) {
  .interior_row,
  .page-header,
  .page-author,
  .page-content,
  .author {
    width: 87%;
    margin: 0 auto;
    padding: 0.75em 0;
  }
  .page-header {
    color: #7c7764;
    position: relative;
    background: url('/img/logo_flat_2016.svg') 0 40% no-repeat;
    z-index: 210;
    background-size: 14%;
  }
  .page-header-ttl {
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 2.6rem;
    font-size: 26px;
    line-height: 0.92307692;
    padding-left: 1.85em;
    line-height: 1;
  }
  .page-header-ttl-lnk {
    color: #9b6020;
  }
  .page-header-desc {
    padding-left: 3em;
    margin: 0;
    text-transform: uppercase;
  }
  .navlist,
  .author-network-antisocial-lst,
  .author-network-social-lst {
    padding: 0 0 0.75em;
  }
  .author-photo {
    display: block;
    margin: 4.5% auto;
  }
  .author-network-antisocial-lst {
    padding-top: 0;
  }
  .author-bio {
    padding: 0.75em 0;
  }
  .post-ttl {
    font-size: 3.2rem;
    font-size: 32px;
    line-height: 0.75;
    margin-bottom: 1.5em;
  }
  .post-header-title {
    font-size: 4.1rem;
    font-size: 41px;
    line-height: 1.17073171;
    margin-bottom: 0.375em;
  }
  .post-header-meta-track {
    padding-right: 0.1875em;
  }
}
@media only screen and (min-width: 480px) {
  .interior_row,
  .page-content,
  .page-footer,
  .page-header {
    width: 95%;
    margin: 0 auto;
  }
  .page-header {
    background-size: 10%;
  }
  .post-index-itm-level1 {
    display: inline-block;
    vertical-align: top;
    width: 47.91666667%;
    margin: auto 1.04166667% auto;
  }
  .navlist,
  .author-network-antisocial-lst,
  .author-network-social-lst {
    padding: 1.5em 0 0.75em;
  }
  .author {
    padding: 1.5em 0;
  }
  .author-network {
    display: inline-block;
    vertical-align: top;
    width: 39.58333333%;
    margin: auto 1.04166667% auto;
  }
  .author-photo {
    display: inline-block;
    vertical-align: top;
    margin: 4.5% 3%;
  }
}
@media only screen and (min-width: 640px) {
  .page-header {
    background-size: 7%;
  }
  .post-index-itm-level1 {
    display: inline-block;
    vertical-align: top;
    width: 31.25%;
    margin: auto 1.04166667% auto;
  }
}
