.ico_base,
.ico:before,
.ico:after {
  position: relative;
  line-height: 1;
  font-family: "typicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sprite,
.author-network-social-itm {
  background-image: url(../im/sprite.png);
}
.animate,
.lnk,
.btn {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
blockquote {
  font-family: 'Gloria Hallelujah', cursive;
}
body {
  color: #ffffff;
  background: #5e5e63 url(../im/bg.texture.png);
}
.page {
  position: relative;
}
.page-header {
  width: 29.16666667%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.75em 1.5em;
}
.page-header-ttl {
  font-size: 3.2rem;
  font-size: 32px;
  text-transform: capitalize;
}
.page-header-ttl-lnk {
  color: #5e5e63;
}
.page-header-desc {
  color: #04b4bf;
  margin: 0;
}
.page-nav-post-lst {
  padding-left: 0;
}
.page-content {
  width: 100%;
  padding: 0.75em 0.75em 1.5em;
  padding-right: 33.33333333%;
}
.author {
  border-bottom: 1px dashed #ffffff;
  border-top: 1px dashed rgba(94, 94, 99, 0.1);
}
.author-photo {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 8px solid #f0f3f3;
  top: 1em;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25), -1px -1px 1px #202022;
  width: 33.33333333%;
}
.author-network {
  display: inline-block;
  margin-left: 1.5em;
  width: 58.33333333%;
}
.author-network-antisocial-lst {
  border-bottom: none;
}
.author-network-antisocial-itm:after {
  opacity: 0;
}
.author-network-antisocial-itm:hover:after {
  opacity: 1;
}
.author-network-social-lst {
  border: none;
  padding: 0;
  margin-top: 0;
}
.author-network-social-itm {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  font-size: 0;
  line-height: 1;
  border-radius: 32px;
  margin-left: 1%;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 0 #202022 inset;
  -webkit-transition: box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s;
}
.author-network-social-itm-flickr {
  background-position: 0 0;
}
.author-network-social-itm-twitter {
  background-position: -40px 0;
}
.author-network-social-itm-last-fm {
  background-position: -80px 0;
}
.author-network-social-itm-soundcloud {
  background-position: -160px 0;
}
.author-network-social-itm-society6 {
  background-position: -240px 0;
}
.author-network-social-itm:hover {
  box-shadow: 1px 1px 0 #202022, 1px 1px 0 rgba(255, 255, 255, 0.35) inset;
}
.navlist,
.author-network-antisocial-lst {
  margin: auto;
  padding: 1.2em 0;
  text-transform: uppercase;
}
.btn {
  color: #04b4bf;
  text-shadow: -1px -1px 0 #000000, 1px 1px 0 #202022;
  padding: 1.5em 0.75em;
  background-color: #000000;
  background-image: -webkit-linear-gradient(0deg, #000000 0%, #202022 100%);
  background-image: linear-gradient(0deg, #000000 0%, #202022 100%);
}
.post {
  color: #ffffff;
  text-shadow: 1px 1px 0 #202022;
}
.post-hdr {
  position: relative;
}
.post-hdr-ttl {
  font-weight: 300;
}
.post-hdr-ttl-lnk {
  margin-left: 8.33333333%;
}
.post-hdr-meta {
  font-weight: 800;
  display: inline-block;
  position: absolute;
  top: 1em;
  line-height: 1;
}
.post-hdr-meta-track {
  font-size: 2.6rem;
  font-size: 26px;
  color: #04b4bf;
  text-align: center;
  width: 8.33333333%;
}
.post-hdr-meta-release {
  color: #5e5e63;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 53px 0;
  -moz-transform-origin: 0 53px 0;
  -ms-transform-origin: 0 53px 0;
  transform-origin: 0 53px 0;
  font-size: 1.3rem;
  font-size: 13px;
}
.post-main {
  padding-left: 8.33333333%;
}
.archive-lst-level1 {
  vertical-align: top;
}
.archive-itm-level1 {
  width: calc(100% / 3);
  display: inline-block;
  vertical-align: top;
}
