.inline-def {
  display: inline-block;
  vertical-align: top;
}
.ico_base,
.ico:before,
.ico:after,
.author-network-social-itm:before {
  position: relative;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.ico:before,
.ico:after {
  font-family: 'typicons';
}
@font-face {
  font-family: "socicon";
  src: url("/font/socicon-webfont.eot");
  src: url("/font/socicon-webfont.eot?#iefix") format("embedded-opentype"), url("/font/socicon-webfont.woff") format("woff"), url("/font/socicon-webfont.ttf") format("truetype"), url("/font/socicon-webfont.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.animate,
.lnk,
.btn,
.page-nav-hdr {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.lnk,
.page-nav-hdr {
  cursor: pointer;
}
blockquote {
  font-family: 'Gloria Hallelujah', cursive;
}
body {
  color: #272620;
  background: url(../img/bg.texture.png) repeat 0 0, url(../img/rando_texture.png) no-repeat top center #524e42;
  background-size: 500px, 100% 750px;
}
.page {
  position: relative;
}
.page-header {
  color: #7c7764;
  padding: 0.75em 3em;
  position: relative;
}
.page-header-ttl {
  margin-bottom: 0;
  text-transform: capitalize;
  text-shadow: -1px -1px 0 #272620;
  width: 47.91666667%;
}
.page-header-ttl-lnk {
  color: #9b6020;
}
.page-header-ttl-lnk:hover {
  color: #5c3913;
}
.page-header-ttl-lnk-pland,
.page-header-ttl-lnk-addin {
  font-size: 0;
  position: absolute;
  top: 30%;
  display: inline-block;
  vertical-align: top;
  border: 15px solid;
}
.page-header-ttl-lnk-addin {
  right: 0;
  margin-right: 7.5px;
  border-color: transparent transparent transparent #7c7764;
}
.page-header-ttl-lnk-addin:hover {
  margin-right: 7.5px;
  border-color: transparent transparent transparent #9b6020;
}
.page-header-ttl-lnk-pland {
  left: -0.5%;
  margin-left: 7.5px;
  border-color: transparent #7c7764 transparent transparent;
}
.page-header-ttl-lnk-pland:hover {
  margin-left: 7.5px;
  border-color: transparent #9b6020 transparent transparent;
}
.page-header-desc {
  margin: 0;
  text-transform: uppercase;
}
.page-aside {
  position: absolute;
  right: 0;
  padding: 0.75em 3em 0.75em 0;
  width: 25.41666667%;
  color: #c4c1b5;
  text-shadow: 1px 1px 0 #272620;
}
.page-aside-copy {
  margin-bottom: 0;
}
.page-aside-poweredby {
  font-size: 1.2rem;
  font-size: 12px;
  line-height: 1;
}
.page-nav {
  display: none;
}
.page-nav-l1-itm {
  width: calc(100% / 8);
  display: inline-block;
  vertical-align: top;
}
.page-nav-l1-lst {
  margin-bottom: 0;
  padding-left: 0;
}
.page-nav-l2-lst {
  margin: 0;
  padding-left: 0.75em;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.page-nav-l2-lst.active {
  opacity: 1;
  height: auto;
  margin: 0.75em 0;
}
.page-content {
  padding: 0 31% 0.75em 3em;
}
.author {
  border-bottom: 1px dashed #ffffff;
  border-top: 1px dashed rgba(124, 119, 100, 0.1);
  margin-bottom: 1em;
}
.author-photo {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 50%;
  border: 8px solid #f0f3f3;
  top: 1em;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25), -1px -1px 1px #272620;
  width: 31.25%;
}
.author-network {
  margin-left: 0.75em;
  display: inline-block;
  vertical-align: top;
  width: 56.25%;
}
.author-network-antisocial-lst {
  border-bottom: none;
}
.author-network-antisocial-itm:after {
  opacity: 0;
}
.author-network-antisocial-itm:hover:after {
  opacity: 1;
}
.author-network-social-lst {
  border: none;
  padding: 0;
  margin-top: 0;
}
.author-network-social-itm {
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 0 #272620 inset;
  overflow: hidden;
  margin-right: 5px;
  font-size: 0;
  -webkit-transition: -webkit-box-shadow 0.3s;
  -moz-transition: -moz-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.author-network-social-itm:hover {
  box-shadow: 1px 1px 0 #272620, 1px 1px 0 rgba(255, 255, 255, 0.35) inset;
}
.author-network-social-itm:before {
  cursor: pointer;
  color: #ffffff;
  padding: 0.25em;
  font-family: socicon;
  font-size: 2.2rem;
  font-size: 22px;
  line-height: 1.09090909;
}
.author-network-social-itm-flickr:before {
  background-color: #ff0084;
  content: 'v';
  display: inline-block;
}
.author-network-social-itm-twitter:before {
  background-color: #55acee;
  content: 'a';
  display: inline-block;
}
.author-network-social-itm-last-fm:before {
  background-color: #d02127;
  content: 'q';
  display: inline-block;
}
.author-network-social-itm-soundcloud:before {
  background-color: #ff5000;
  content: 'n';
  display: inline-block;
}
.author-network-social-itm-society6:before {
  background-color: #000000;
  content: 's';
  display: inline-block;
}
.author-network-social-itm-github:before {
  background-color: #000000;
  content: 'Q';
  display: inline-block;
}
.nav {
  align-self: stretch;
}
.nav-list {
  padding: 0.75em 1.5em;
  background-color: #3c3827;
}
.navlist,
.author-network-antisocial-lst {
  margin: auto;
  padding: 1.5em 0;
  text-transform: uppercase;
}
.btn {
  color: #7fd3ed;
  text-shadow: -1px -1px 0 #000000, 1px 1px 0 #272620;
  padding: 1.5em 0.75em;
  background-color: #000000;
  background-image: -webkit-linear-gradient(0deg, #000000 0%, #272620 100%);
  background-image: linear-gradient(0deg, #000000 0%, #272620 100%);
}
.post {
  color: #ffffff;
  text-shadow: 1px 1px 0 #272620;
  padding-right: 0.75em;
}
.post-hdr {
  position: relative;
}
.post-hdr-ttl {
  font-weight: 300;
}
.post-hdr-ttl-lnk {
  margin-left: 9.375%;
}
.post-hdr-meta {
  font-weight: 800;
  display: inline-block;
  position: absolute;
}
.post-hdr-meta-track {
  top: 24px;
  color: #7fd3ed;
  text-align: center;
  width: 6.25%;
}
.post-hdr-meta-release {
  top: 16px;
  color: #7c7764;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 50px 0;
  -moz-transform-origin: 0 50px 0;
  -ms-transform-origin: 0 50px 0;
  transform-origin: 0 50px 0;
  font-size: 1.2rem;
  font-size: 12px;
  line-height: 1;
}
.post-main {
  padding-left: 9.375%;
}
.post-index-ttl {
  font-weight: 300;
  margin: 0.4em 0;
}
.post-index-ttl-lnk {
  margin-left: 9.375%;
}
.post-index-img img {
  display: block;
  width: 100%;
  height: auto;
}
.post-index-lst-level2,
.post-index-lst-level1 {
  padding-left: 0;
  vertical-align: top;
}
.post-index-lst-level1 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.post-index-lst-level2 {
  font-size: 1.6rem;
  font-size: 16px;
  line-height: 1.5;
}
.post-index-itm-level1 {
  padding: 0 1.5em 0 0;
  flex: 1 1 auto;
  width: 30px;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
