mixin author(authorName)
	- var author = contents.authors[authorName + '.json']
	- var imagepath = locals.url + '/img/'

	aside.page-author.author
		.author-photo
			img(class='author-photo-img photo', src=imagepath + author.metadata.photo)

		.author-network
			include _nav
			+menuMaker( 'author-network-antisocial', author.metadata.network.antisocial, 'link' )
			+menuMaker( 'author-network-social', author.metadata.network.social, 'link' )

		p.author-bio= author.metadata.bio
