mixin author(authorName)
	- var author = contents.authors[authorName + '.json']
	- var imagepath = '/img/'

	aside.page-author.author
		.author__ 
			.author__photo
				img(class='author__photo-img photo', src=imagepath + author.metadata.photo)

			.author__network
				include _nav
				+menuMaker( 'author__network-antisocial', author.metadata.network.antisocial, 'link' )
				+menuMaker( 'author__network-social', author.metadata.network.social, 'link' )

		p.author__bio= author.metadata.bio
